{% extends "index.html" %}
{% block content %}
<center>
<h2>Add Book</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('addbook') }}" method=post
  onsubmit="return confirm('Are you sure you want to submit?')">
	<dl>
		<dt>Call Number:
		<dd><input type=text name=callNum maxlength="20">
		<dt>ISBN:
		<dd><input type=text name=isbn maxlength="20">
		<dt>Title:
		<dd><input type=text name=title maxlength="20">
		<dt>Main Author:
		<dd><input type=text name=mainAuthor maxlength="20">
		<dt>Publisher:
		<dd><input type=text name=publisher maxlength="20">
		<dt>Year:
		<dd><input type=text name=year maxlength="4">
    <dt>Subject(s) (Comma separated):
		<dd><input type=text name=subject>
    <dt>Additional Authors (Comma separated):
		<dd><input type=text name=authors maxlength="20">
		<dd><input type=submit value="Add Book">
	</dl>
</form>
</center>
{% endblock %}
