{% extends "index.html" %}
{% block content %}
<center>
<h2>Borrower Check</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('cart_page.bidcheck') }}" method=post>
	<dl>
		<dt>bid:
		<dd><input type=text name=bid>
      <dt>Borrower Action:
      <select name="bAction">
      <option value="cart" selected>View Cart</option>
      <option value="checkouted">View Checked Out</option>
      </select>
		<dd><input type=submit value="Go">
	</dl>
</form>
</center>
{% endblock %}
