{% extends "index.html" %}
{% block content %}
{% for a_table in session.pop('cart', []) %}
	<form action="{{ url_for('cartaction') }}" method=post>
		<dl>
    <table class = "table table-striper table-hover">
        <th>
        <th>Call Number</th>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Year</th>
        {% for row in a_table %}
        <tr>
          <td><dd><input type="checkbox" name="{{loop.index-1}}"></td>
					{% for item in row %}
						<td>{{ item }}</td>
					{% endfor %}
        </tr>
        {% endfor %}
		<dt>
      <select name="cartOperation">
      {% if accType in ['clerk'] %}
        <option value="checkout" selected>Checkout</option>
        <option value="holdrequest">Place Hold Request</option>
      {% else %}
        <option value="holdrequest" selected>Place Hold Request</option>
      {% endif %}
      <option value="remove">Remove from Cart</option>
      </select>
		<dd><input type=submit value="Submit">
    {% endfor %}
		</dl>
	</form>
</table>
{% endblock %}
