{% extends "index.html" %}
{% block content %}
{% for a_table in session.pop('catalogue', []) %}
    <table class = "table table-striper table-hover">
        <th>Call Number</th>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Year</th>
        {% if accType %}
            <th>
            <th>
            <th>
        {% endif %}
        {% for row in a_table %}
        <tr>
            {% for item in row %}
                <td>{{ item }}</td>
            {% endfor %}
            {% if accType %}      
                <td><button id ="check-out-{{ loop.index }}">Check out</button>
                <td><button id ="hold-{{ loop.index }}">Place on Hold</button>
                {% if accType in ['faculty','clerk','librarian'] %}            
                <td><button id ="reserve-{{ loop.index }}">Reserve</button>
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    {% endfor %}
</table>
{% endblock %}
