<!doctype html>
<html lang=" en" >
<head>
	<meta charsets = "UTF-8" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<title> Library </title>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="#">Library App</a>
		</div>

		<ul class="nav navbar-nav">

			<form action="{{ url_for('catalogue') }}" class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<dt>
						<select name="searchtype">
						<option value="title" selected>title</option>
						<option value="author">author</option>
						<option value="subject">subject</option>
						</select>
						<input type="text" name="keyword" class="form-control" placeholder="Search for a Book">
				</div>
				<button type="submit" class="btn btn-small">Go</button>
			</form>

			<li>
			  <a href = "/catalogue">Catalogue</a>
			</li>

			{% if accType in ['clerk','borrower'] %}
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Checked Out Books<b class="caret"></b></a>
				<ul class = "dropdown-menu">
					{% if accType == 'clerk' %}
					<li><a href='/bidcheck'>Checkout</a></li>
					<li><a href="#">Process Book Return</a></li>
					<li><a href="#">View Overdue Items</a></li>
					{% endif %}
					{% if accType == 'borrower' %}
					<li><a href="#">View Checked Out Books</a></li>
					{% endif %}
				</ul>
			</li>
			{% endif %}

			{% if accType == 'clerk' %}
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Borrowers<b class="caret"></b></a>
				<ul class = "dropdown-menu">
					<li><a href="/addborrower">Add Borrower</a></li>
					<li><a href="/renewborrower">Renew Borrower</a></li>
				</ul>
			</li>
			{% endif %}

			{% if accType == 'librarian' %}
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Library<b class="caret"></b></a>
				<ul class = "dropdown-menu">
					<li><a href="/addbook">Add a Book to the Library</a></li>
					<li><a href="#">Remove a Book from the Library</a></li>
					<li class="divider" id = "popular_books"></li>
					<li><a href="#">View Top Books</a></li>
				</ul>
			</li>
			{% endif %}
			</ul>


			<ul class="nav navbar-nav navbar-right">
			{% if user %}
				{% if accType in ['student', 'faculty', 'staff'] %}
				<li><a href="/viewcart">View Cart ({%if cart_item_count %}{{ cart_item_count }}{% else %}0{% endif %})</a></li>
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }} Account Info<b class="caret"></b></a>
					<ul class="dropdown-menu">

						<li><a href="/borrowed">View Your Currently Checked Out Books</a></li>
						<li><a href="/viewfine">View Current Fines</a></li>
						<li><a href="#">Personal Info</a></li>
					</ul>
				</li>
				{% endif %}

				<li><a href="/logout">Logout</a></li>
			{% else %}
				<li><a href="/login">Login</a></li>
			{% endif %}
			</ul>


	</div><!-- /.container-fluid -->
</nav>

	{% block content %}
	{% endblock %}

</body>


</html>
