<!doctype html>
<html lang=" en" >
<head>
	<meta charsets = "UTF-8" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<title> Library </title>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">Library App</a>
		</div>
   
		<ul class="nav navbar-nav">
			
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search for a Book">
				</div>
				<button type="submit" class="btn btn-small">Go</button>
			</form>
			
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Book Actions<b class="caret"></b></a>
			  <ul class="dropdown-menu">
				<li><a href="#">Check out a Book</a></li>
				<li><a href="#">Place a Book on Hold</a></li>
				<li class="divider" id = "reserve_a_book"></li>
				<li><a href="#">Place a Book on Reserve</a></li>
			  </ul>
			</li>

			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Checked Out Books<b class="caret"></b></a>
				<ul class = "dropdown-menu">
					<li><a href="#">Return a Book</a></li>
					<li><a href="#">View Checked Out Books</a></li>
					<li><a href="#">View Overdue Items</a></li>
				</ul>
			</li>
			
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Library<b class="caret"></b></a>
				<ul class = "dropdown-menu">
					<li><a href="#">Add a Book to the Library</a></li>
					<li><a href="#">Remove a Book from the Library</a></li>
					<li class="divider" id = "popular_books"></li>
					<li><a href="#">View Top Books</a></li>
					
				</ul>
			</li>
      </ul>
	  
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Account<b class="caret"></b></a>
          <ul class="dropdown-menu">
			<li><a href="#">View Your Currently Checked Out Books</a></li>
            <li><a href="#">View Current Fines</a></li>
			<li><a href="#">Personal Info</a></li>
          </ul>
        </li>
		<li><a href="#">Logout</a></li>
		 
      </ul>
   
  </div><!-- /.container-fluid -->
</nav>
	<center><h1>Welcome to the Library</h1></center>
	
</body>


</html>