{% extends "index.html" %}
{% block content %}
    {% for a_table in session.pop('reportcheckedout', []) %}
	    <form class="form" role="search">
	    <div class="form-group">
		    <input type="text" class="form-control" name = "subject" placeholder="Enter a subject to filter by">
	    </div>
	    <button type="submit" class="btn btn-small"><a href='/reportcheckedout'>View</a></button>
         <table class = "table table-striper table-hover">
            <h1>Books Checked Out</h1>
            <th>Call Number</th>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Subject</th>
            <th>Copy #</th>
            <th>Checked out By</th>
            <th>Check out Date</th>
            <th>Due Date</th>
                    {% for row in a_table %}
                        <tr>
					    {% for item in row %}
						    <td>{{ item }}</td>
					    {% endfor %}
                        </tr>
                    {% endfor %}
         </table>
    {% endfor %}
{% endblock %}
